*{
  margin: 0px;
  padding: 0px;
  background-color: aquamarine;
  
}
body{
  margin-top: 20px;
}
div{
  
  margin: 10px;
  display: inline;
 
  


  
}
img{
  width: 400px;
  height:350px;
   border: 5px solid aqua;
  margin: 10px 0px 0px 50px;
  border-radius: 10px;
  box-shadow: 3px 3px;
 

}